@keyframes ttip-show-top {
  from {
    transform: translateY(-22px);
  }
  to {
    transform: translateY(0) translateX(0);
  }
}
@-webkit-keyframes ttip-show-top {
  from {
    transform: translateY(-22px);
  }
  to {
    transform: translateY(0) translateX(0);
  }
}
@keyframes ttip-show-bottom {
  from {
    transform: translateY(22px);
  }
  to {
    transform: translateY(0) translateX(0);
  }
}
@-webkit-keyframes ttip-show-bottom {
  from {
    transform: translateY(22px);
  }
  to {
    transform: translateY(0) translateX(0);
  }
}
@keyframes ttip-show-left {
  from {
    transform: translateX(-22px);
  }
  to {
    transform: translateY(0) translateX(0);
  }
}
@-webkit-keyframes ttip-show-left {
  from {
    transform: translateX(-22px);
  }
  to {
    transform: translateY(0) translateX(0);
  }
}
@keyframes ttip-show-right {
  from {
    transform: translateX(22px);
  }
  to {
    transform: translateY(0) translateX(0);
  }
}
@-webkit-keyframes ttip-show-right {
  from {
    transform: translateX(22px);
  }
  to {
    transform: translateY(0) translateX(0);
  }
}
[data-tooltip],
[data-popover] {
  background-color: yellow;
  position: relative;
  z-index: 0;
  transition: z-index 200ms step-end;
}
[data-tooltip]:hover,
[data-popover]:hover {
  z-index: 10;
  transition: z-index 200ms step-start;
}
[data-tooltip] .ttip-container {
  pointer-events: none;
}
[data-tooltip]:hover .ttip-container {
  opacity: 1;
  transform: translateY(0) translateX(0);
}
[data-popover] .ttip-container {
  visibility: hidden;
  display: inline-block;
}
[data-popover]:not(.toggle) {
  z-index: 500ms step-end 200ms;
}
[data-popover]:not(.toggle) .ttip-container {
  transition: all 0s, opacity 200ms ease 500ms, transform 200ms ease 500ms, visibility 0s ease 700ms;
}
[data-popover]:not(.toggle):hover {
  z-index: 10;
}
[data-popover]:not(.toggle):hover .ttip-container {
  opacity: 1;
  visibility: visible;
  transform: translateY(0) translateX(0);
  transition: all 0s, opacity 200ms ease 500ms, transform 200ms ease 500ms, visibility 0s ease 500ms;
}
[data-popover].toggle {
  -webkit-user-select: none;
  /* webkit (safari, chrome) browsers */
  -moz-user-select: none;
  /* mozilla browsers */
  -khtml-user-select: none;
  /* webkit (konqueror) browsers */
  -ms-user-select: none;
  /* IE10+ */
  cursor: pointer;
}
[data-popover].toggle .ttip-container {
  visibility: visible;
}
[data-popover].toggle.open {
  z-index: 10;
}
[data-popover].toggle.open .ttip-container {
  opacity: 1;
  visibility: visible;
  transform: translateY(0) translateX(0);
  transition: 200ms;
}
[data-popover].toggle .before,
[data-popover].toggle .after {
  pointer-events: none;
}
[data-popover-content] {
  display: none;
}
.ttip-container {
  display: inline-block;
  padding: 0;
  margin: 0;
  background-color: white;
  position: absolute;
  border: 1px solid black;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  top: 0;
  left: 0;
  opacity: 0;
  transition: all 0s ease, opacity 200ms, transform 200ms;
}
.ttip-container .ttip-content {
  display: inline-block;
  margin: 10px;
}
.ttip-container .after,
.ttip-container .before {
  content: '';
  position: absolute;
  display: block;
  height: 0;
  width: 0;
  box-sizing: border-box;
  border-color: transparent;
  border-style: solid;
  border-width: 10px;
}
.ttip-container.top {
  animation: ttip-show-top 200ms;
  transform: translateY(-22px);
}
.ttip-container.top .after,
.ttip-container.top .before {
  left: 50%;
  margin-left: -10px;
}
.ttip-container.top .after {
  border-top-color: #ffffff;
  bottom: -19px;
}
.ttip-container.top .before {
  border-top-color: #000000;
  bottom: -20px;
}
.ttip-container.bottom {
  animation: ttip-show-bottom 200ms;
  transform: translateY(22px);
}
.ttip-container.bottom .after,
.ttip-container.bottom .before {
  left: 50%;
  margin-left: -10px;
}
.ttip-container.bottom .after {
  border-bottom-color: #ffffff;
  top: -19px;
}
.ttip-container.bottom .before {
  border-bottom-color: #000000;
  top: -20px;
}
.ttip-container.left {
  animation: ttip-show-left 200ms;
  transform: translateX(-22px);
}
.ttip-container.left .after,
.ttip-container.left .before {
  top: 50%;
  margin-top: -10px;
}
.ttip-container.left .after {
  border-left-color: #ffffff;
  right: -19px;
}
.ttip-container.left .before {
  border-left-color: #000000;
  right: -20px;
}
.ttip-container.right {
  animation: ttip-show-right 200ms;
  transform: translateX(22px);
}
.ttip-container.right .after,
.ttip-container.right .before {
  top: 50%;
  margin-top: -10px;
}
.ttip-container.right .after {
  border-right-color: #ffffff;
  left: -19px;
}
.ttip-container.right .before {
  border-right-color: #000000;
  left: -20px;
}
.no_selection {
  -webkit-user-select: none;
  /* webkit (safari, chrome) browsers */
  -moz-user-select: none;
  /* mozilla browsers */
  -khtml-user-select: none;
  /* webkit (konqueror) browsers */
  -ms-user-select: none;
  /* IE10+ */
}
